* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: cadetblue;
  /* background: linear-gradient(90deg, rgba(174, 183, 189, 1) 0%, rgba(77, 92, 110, 1) 100%, rgba(99, 99, 93, 1) 100%); */
}
.container {
  height: 100%;
  width: 100%;
  background-color: cadetblue;

  /* background: linear-gradient(90deg, rgba(174, 183, 189, 1) 0%, rgba(77, 92, 110, 1) 100%, rgba(99, 99, 93, 1) 100%); */
  display: grid;
  padding: 4rem;
  gap: 1rem;
  /* grid-template-rows: repeat(13,1fr);
    grid-template-columns: repeat(2,1fr); */
}
.header {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  /* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(168, 96, 96, 1) 40%, rgba(252, 176, 69, 1) 100%); */
}
.subheader {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  /* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(168, 96, 96, 1) 40%, rgba(252, 176, 69, 1) 100%); */
}
.channels {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
  /* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(168, 96, 96, 1) 40%, rgba(252, 176, 69, 1) 100%); */
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: space-around;
  text-align: center;
}
.messages {
  grid-row-start: 6;
  grid-row-end: 9;
  grid-column-start: 1;
  grid-column-end: 3;
  /* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(168, 96, 96, 1) 40%, rgba(252, 176, 69, 1) 100%);   */
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
}
.infuture {
  grid-row-start: 9;
  grid-row-end: 12;
  grid-column-start: 1;
  grid-column-end: 3;
  /* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(168, 96, 96, 1) 40%, rgba(252, 176, 69, 1) 100%);   */
  display: flex;
  justify-content: space-around;
}
.footer {
  grid-row-start: 12;
  grid-row-end: 15;
  grid-column-start: 1;
  grid-column-end: 3;
  /* background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(168, 96, 96, 1) 40%, rgba(252, 176, 69, 1) 100%);   */
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding-top: 3rem;
}

.top-screen {
  align-items: center;
  padding-left: 10rem;
}
.header-logo {
  text-align: center;
  padding-top: 3rem;
}
.chanel {
  padding: 5rem;
  font-size: 30px;
  font-weight: bolder;
  font-family: monospace;
}
.screens {
  padding: 1rem;
}
.message {
  padding: 5rem;
  font-size: 30px;
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
}
.future {
  padding: 5rem;
  font-size: 30px;
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
}
.foot {
  padding: 5rem;
  font-size: 30px;
  font-weight: bolder;
  font-family: monospace;
  text-align: center;
  justify-content: space-between;
}
a:hover {
  text-decoration: none;
  font-size: 50px;
}
@media (min-width: 640px) {
  .channels {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .channels {
    flex-direction: column;
  }
}
@media (min-width: 640px) {
  .messages {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .messages {
    flex-direction: column;
  }
}
@media (min-width: 640px) {
  .infuture {
    flex-direction: row;
  }
}
@media (max-width: 640px) {
  .infuture {
    flex-direction: column;
  }
}
@media (max-width: 650px) {
  .container {
    grid-template-columns: 1fr; /* Single column layout */
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  body {
    background-color: lightgreen;
  }
}
